tamanio_menu = 50px

@media (max-width: 450px)
	#select_sector_filtro, #select_via_filtro, #select_costado_filtro, #select_tipo_atencion_filtro, #select_anio_incidente_filtro, #select_mes_incidente_filtro
		width 60px
		font-size 0.7em
	
@media (max-width: 730px)
	#titulo_mapa
		display none
		

#cont_dias
	padding-left: 0px
	
#cont_mapa
	height 100vh


#contenedor_principal
	height 100vh -100px
	padding 0
	min-height 100%

#menu_lateral
	margin-top tamanio_menu
	padding 15px
	width 200px

#menu_superior
	position fixed
	right 0
	left 0
	top 0
	height tamanio_menu
	z-index 1030
	
	a
		height 50px
	
	div
		margin-right 10px
		
#select_anio_incidente_filtro
	width 70px

#select_mes_incidente_filtro, #select_tipo_atencion_filtro
	width 90px
	
.enlace
	cursor pointer
		
.margen
	margin-top tamanio_menu

.margen_mapa
	height 94vh !important