tamanio_menu = 50px

@media (max-width: 970px)
	#menu_interno
		height tamanio_menu * 3 !important
		
	#sector, #via
		width 80px
		
	#titulo_mapa
		display none
	
	#slider_fechas
		width 50px
		
@media (max-width: 640px)
	#eventos_diarios_dias
		height 200px
		overflow-y auto
		
	#eventos_diarios_mapa
		margin 0
		padding 0
	
	.margen_mapa
		max-height 100%
			
@media (max-width: 450px)
	#menu_interno
		height tamanio_menu * 3 !important
		
	#sector, #via
		width 100px
		font-size 0.7em
	
	#slider_fechas
		width 50px

#cargando
	// border 1px solid green
	position fixed
	width 100%
	z-index 4500

#eventos_diarios_dias
	ul
		margin-left 10px
		margin-right 10px
		overflow-y auto
		
		li
			h3
				text-align center
#eventos_diarios_mapa
	padding 0
	
#cont_mapa
	// border 1px solid green
	height 100vh

#menu_interno
	// border 1px solid green
	height tamanio_menu
	top 30px
	padding-bottom 35px
	position fixed
	width 100%
	z-index 500 !important

#menu_lateral
	// margin-top tamanio_menu
	padding 15px
	top tamanio_menu
	width 250px
		
#menu_superior
	// border 1px solid red
	right 0
	left 0
	top 0
	height tamanio_menu
	z-index 1030
	
	a
		height 50px
	
	div
		margin-right 10px
		
#select_anio_incidente_filtro
	width 70px
	
#select_mapa_base
	option
		color #949494

#select_mes_incidente_filtro, #select_tipo_atencion_filtro
	width 90px

#slider_fechas
	border 10px solid black !important

.enlace
	cursor pointer

.margen_mapa
	height 100vh - 5.9px !important
	
.rango
	// border 1px solid red
	display block
	padding-right 40px
	padding-left 40px
	z-index 500
	